/*COLORES
Rojo: #d03b40 Beige: #ded6c0 Blanco: #f5f0ed Gris: #241d1b
Texto claro: #f5f0ed Texto oscuro: #3c3c3b

TAMAÑOS
Encabezado 1r nivel: 44px  2º nivel: 28px  3r nivel: 24px Cuerpo de texto: 16px Botones: 14px
*/
/*Importação das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Formatando estilos*/
*{
    margin:0;
    border: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: em;
    color: #f5f0ed

}
/* Classes - Layout */
/* .Menu{ margin: 0 auto;} */
.Container{
    height: inherit; 
    
}
.Flex{
   display: flex;
   justify-content: space-between;
}
.Flex2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
/*Tamanho dos textos*/
h1{
    font-size: 44px;
    font-weight: 700;
}
h2{
    font-size: 28px;
    font-weight: 700;
    
}
p{
    font-size: 16px;
    font-weight: 400;
}
hr{
    width: 150px;
    margin: 0 auto;
}


/* Mobile - Portrait */
/* Cabeçalho */
header{
    height: 450px;
    background: url(img/Fundo1.jpg);
    background-size:cover;
    background-position:center;
    
}
#logo  {
    padding:5px 15px;
}

.Menu, .MenuTexto h1{
    margin-bottom: 40px;
}
#check{
    display: none;
}

label{
    font-size: 2em;
    text-align: center;
    border-radius: 10%;
    background-color: #d03b40;
    color: white;
    /* Posicionamento e tamanho */
    position: fixed;
    top: 10px;
    right: 15px;
    width: 50px;
    border: 1.5px solid white;
}
nav ul{ 
    position: fixed;
    top: 60px;

    width: 100%;
    height: 100%;
    right: -100%;
    /* left: 100%; */
    transition: all 0.5s;
    list-style-type: none;
    background-color: #d03b40;

    
}
nav ul li {
    padding: 20px;
    font-size: 0.8em;
    border-bottom: 1px solid black;
}
nav ul li a{
    text-decoration: none;
    color: #f5f0ed;
}

#check:checked~ul{
    right: 0;
}


/* Sessão Chamativo */
#Chamativo{
    height: 600px;
}

.Bloco1{
    background-color: #d03b40;
    color: #f5f0ed ; 
}
.Bloco2{
    background-color:#ded6c0;
    color: #d03b40;
    
}

.Bloco1, .Bloco2{
    height: 300px;
    padding: 0px 10%;
}

 /* Sessão Cardapio  * */
#Cardapio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    height: 500px;
    background: url(img/Fundo2.jpg);
    background-size: cover;
    background-position-x: center;
    color:#f5f0ed ;
}
.TextoCardapio{
    padding: 50px 0px;
    margin-bottom: 50px;

}

.BotaoCardapio a{
    display: inline-block;
    width: 80%;
    text-decoration: none;
    color:#f5f0ed;

    border: 3px solid white;
    padding: 10px;
}